
body {
    background-image: url("../images/round.png");
    margin: auto;
}
nav {
    background: #e4e4e4;
    padding: 30px 20px 30px 20px;
    border: 5px solid #e4e4e4;
    position:relative;

    
}
.jumbotron {
    background: #e4e4e4;
    overflow: hidden;
}

.navbar-brand {
    margin: -20px 0px -13px 190px;
    padding: 30px 20px 20px 20px;
    font-size: 30px;
    background: #3e9797;
    color: #ffffff !important;
    width: 200px;
    height: 15%;
}
#navbarNav {
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    text-align: right !important;

}

#me {
    max-height: 400px;
    max-width: 400px;
}   
#meimage {
    overflow:hidden;
}
hr {
    background: #6c6d6d;
    height: 2px;
}
h1 {
    color: #3e9797;
}
#message {
    height: 250px;
    padding: 0px 0px 0px 0px;
}
.portpics {
    height:200px;
    width:300px;
    padding: 10px 10px 10px 10px;
    margin: 20px 0px 0px 0px;
}
.portimages {
    position: relative;
    
}
h4 {
    text-align: center;
    background:#3e9797;
    color: #e4e4e4;
    position:absolute;
    height: 50px;
    width: 280px;
    bottom: 10%;
    margin: 0px 0px 0px 10px;
    padding: 10px 10px 20px 10px;
    font-size: 20px;
 }
.footer {
    position: fixed;
    background: #e4e4e4;
    text-align: center;
    width: 100%;
    height: 5%;
    bottom: 0;
}
