
body {
    background-image: url("../images/background2.jpg");
    margin: auto;
}
nav {
    background: #e4e4e4;
    padding: 30px 20px 30px 20px;
    border: 5px solid #e4e4e4;
    position:relative;

    
}
.main {
    background: #e4e4e4;
    overflow: hidden;
    border-radius:15px;
}

.navbar-brand {
    margin: -20px 0px -13px 190px;
    padding: 30px 20px 20px 20px;
    font-size: 30px;
    background: #6c6d6d;
    color: #ffffff !important;
    width: 200px;
    height: 15%;
    font-family: 'Architects Daughter', cursive;
}
#navbarNav {
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    text-align: right !important;

}

#me {
    max-height: 650px;
    max-width: 650px;
    padding:10px;
    border-radius:15px;
}   
#meimage {
    overflow:hidden;
}
hr {
    background: #6c6d6d;
    height: 2px;
}
h1 {
    color: #6c6d6d;
    font-family: 'Staatliches', cursive;

}
#message {
    height: 250px;
    padding: 0px 0px 0px 0px;
}
.portpics {
    height:200px;
    width:300px;
    padding: 10px 10px 10px 10px;
    margin: 20px 0px 0px 0px;
    border-radius: 15px;
}
.portimages {
    position: relative;
    
}
h4 {
    text-align: center;
    background:#3e9797;
    color: #e4e4e4;
    position:absolute;
    height: 50px;
    width: 280px;
    bottom: 25%;
    margin: 0px 0px 0px 10px;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    font-family: 'Unica One', cursive;

 }
 h5{
     text-align:center;
     background:#6c6d6d;
     padding:5px;
     margin:0px 0px 10px 10px;
     width:280px;
     border-radius:5px;
     font-family: 'Unica One', cursive;

     
    }
h5 a{
    text-decoration:none;
    color: #e4e4e4;
}
.footer {
    position: fixed;
    background: #e4e4e4;
    text-align: center;
    width: 100%;
    height: 5%;
    bottom: 0;
    
}
#message{
    height:100px;
}

@media screen and (max-width:640px){
    .navbar-brand {
        margin: -20px 0px -13px 00px;
    }
    #me {
        max-height: 400px;
        max-width: 400px;
    }
}
